
/*Le hemos dado al titulo un tamaño de letra mayor */
html{
        font-size: 16px;
}
/*Le hemos quitado el estilo de lista para quitarle los puntos del principio de lista*/
ul {
  list-style-type: none;
  margin: 0.5rem;
  
}
/*A estas tres clases le hemos dado unas porpiedades para que se posicionen en medio de página,
 con un tipo de letra como título, que este título tenga una cierta posición y una tamaño concreto*/
.lista  h1 {
           font-style: italic;
           font-variant: small-caps;
           justify-content: center;
           display: flex;
           align-items: center;
           margin: 0.5rem;
           font-size: 2rem;
          }

.imagen h1 {
           font-style: italic;
           font-variant: small-caps;
           justify-content: center;
           display: flex;
           align-items: center;
           font-size: 2rem;
          }
.tablas h1 {
           font-style: italic;
           font-variant: small-caps;
           justify-content: center;
           display: flex;
           align-items: center;
           font-size: 2rem;
          }
/*Esta clase tiene un color de fondo concreto, posición y tamaño de letra*/
.lista {
        background-color: chocolate;
        justify-content: center;
        display: flex;
        align-items: center;
        flex-direction: column;
    
        font-weight: 700;
        font-display:auto;
        
      }
/*Posición de la imágen en la página*/
.imagen {
        justify-content: center;
        display: flex;
        align-items: center;
        flex-direction: column;
       }
/*Posición de la tabla en la página*/
.tablas {
        justify-content: center;
        display: flex;
        align-items: center;
        flex-direction: column;

        }
/*Especificamos color de texto, tamaño y grosor de fuente*/
.tiposviajeros {
                color: white;
                font-size: 1.5rem;
                font-weight: 900;
                }