 h1 {
      background-color: rgb(238, 238, 83);
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 80%;          

}


div h1 {
    background-color: blueviolet;
    
}

div h2 { 
    background-color: brown;
    opacity: 0.5;   
}

div h3 {
    background-color: pink;
}

div h3:hover {
    background-color: pink;
    opacity: 0.1;
}

div {
    flex-direction: column;
    display: flex;
    text-align: center; 
    align-items: center;
}

div * {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 70%;
    min-height: 5rem;
    font-size: 2rem;

}
