 .sin-opacity {
      background-color: rgb(238, 238, 83);
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 80%;          

}


.title {
    background-color: blueviolet;
    text-align: center;
    
}

.con-opacity { 
    background-color: brown;
    /* Aplica una opacidad del 50%. Esto hace que TANTO el fondo como el contenido 
       (texto, imágenes, etc.) de esta caja sean semitransparentes. */
    opacity: 0.5;   
    text-align: center;

}

.opacity-tran {
    background-color: pink;
    text-align: center;
}

.opacity-tran:hover {
    /* Estilo aplicado cuando el cursor pasa por encima (hover). */
    background-color: pink;
   /* Cambia la opacidad al 10% (casi totalmente transparente). 
       Esto crea un efecto de "desaparición" o transparencia al interactuar. */
    opacity: 0.1;
}

/*div {
    flex-direction: column;
    display: flex;
    text-align: center; 
    align-items: center;
}

div * {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 70%;
    min-height: 5rem;
    font-size: 2rem;

}*/
